/CryptoCurrency/obj
/CryptoCurrency/bin
/CryptoCurrencyWallet/bin
/CryptoCurrencyWallet/obj
/.vs
/CryptoCurrencyWallet.Data/obj
/CryptoCurrencyWallet.Data/bin
/CryptoCurrencyWallet.Service/obj
/CryptoCurrencyWallet.Service/bin
